---
layout: 'layouts/default.njk'
title: Welcome...
---

<article class="prose prose-a:(text-pri-500) prose-headings:(text-wrap-balance) mx-auto max-w-4xl">
{% renderTemplate "md" %}
# “I’ve never heard of you.” 
## ~ `A world-famous Agile coach` {.p-10 .text-2xl .text-sec-600 .leading-tight .rounded-xl .ring-(& .current .inset) .md:(text-[calc(3vw)]) .dark:(text-sec-600)}

> Testing strategies to help you implement new tools and approaches across teams.
> Building test frameworks for functional and non-functional testing within your CI/CD pipelines. 
> Process improvements to enable more efficient testing from Sprint to Sprint.

### 25 years providing testing and quality assurance services on well over 100 projects, for 60+ clients. 

### You can benefit from a wealth of technical skills and project expertise, delivering quality improvements to entire project pipeline.

### We are adept at introducing quality measures into projects, sometimes within a few days if a deadline demands it.

{% endrenderTemplate %}
</article>

